body {
    background-image: url('../imagens/logoSerra.png');
    background-attachment: fixed;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100px; 
    background-color: rgb(243, 98, 129);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h2 {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}

p {
    text-align: center;
    color: white;
    margin: 10px;
}


.box {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    max-width: 600px;
    color: white;
    text-align: center;
    background-image: url('/imagens/watercolor\ \(1\).webp');
    color: black;
}


img {
    display: block;
    margin: 0 auto;
    border-radius: 40%;
    text-align: center;
}


a{
   text-align: center;
   font-family: cavet cursive;
   text-align: center;
}


a:hover {
    color: rgb(107, 47, 45);
    text-decoration: underline;
}

a:visited {
    color: ligtgray;
}
a:link {
    color: antiquewhite;
    text-decoration: none;
}
